
/*--------------- Animations ----------------*/

.card-appear-enter-active, .card-appear-leave-active {
  transition: all .5s cubic-bezier(.16, .11, .29, .96);
}

.card-appear-leave-to {
  transform: translateY(-1000px);
}

.card-appear-enter {
  transform: translateY(-500px) translateX(0px) rotate(200deg);
  /*transform: translateY(-1000px) rotate(200deg);*/
}

div.card-appear-enter:nth-child(1){
  transform: translateY(-500px) translateX(0px) rotate(200deg);
}

div.card-appear-enter:nth-child(2){
  transform: translateY(-500px) translateX(-100px) rotate(200deg);
}

div.card-appear-enter:nth-child(3){
  transform: translateY(-500px) translateX(-200px) rotate(200deg);
}

div.card-appear-enter:nth-child(4){
  transform: translateY(-500px) translateX(-300px) rotate(200deg);
}
div.card-appear-enter:nth-child(5){
  transform: translateY(-500px) translateX(-400px) rotate(200deg);
}

.card-appear-move {
  transition: transform .3s;
}

.fade-enter-active, .fade-leave-active {
  transition: all .4s;
}

.fade-enter, .fade-leave, .fade-leave-to {
  opacity: 0;
}