.btn {
  //background-color: rgba(255, 255, 255, 0);
  //border: 2px solid rgba(50, 234, 140, 0.6);
  border-radius: 10px;
  //box-shadow: inset 0 0 6px #666;
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.4);
  font-family: Arial;
  color: #eee;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  outline: none;
  min-width: 100px;
  min-height: 45px;
  cursor: pointer;

  background-color: #cccccc;
  color: #000;


  &:hover {
    /*background: rgba(50,227,126,0.6);*/
    //border: 2px solid rgba(50, 234, 140, 1);
    box-shadow: inset 0 0 8px #555;
  }

  &:active {
    //background: rgba(50, 227, 126, 1);
  }

  &[disabled], &[disabled]:hover {
    color: #ccc;
    background: rgba(70, 70, 70, 0.2);
    border: 2px solid rgba(70, 70, 70, 0.6);
    //box-shadow: inset 0 0 6px #666;
    font-weight: bold;

  }


  &__start {
    background-color: $red;
    color: #fff;
    background-color: $red;
    border: 1px solid $red;
    box-shadow: 0px 0px 2px 0px $red;

    &:hover{
      background-color: $red-hover;
    }
  }

  &__higher, &__lower {
    background-color: $blue;
    color: #fff;
    background-color: $blue;
    border: 1px solid $blue;
    box-shadow: 0px 0px 2px 0px $blue;

    &:hover{
      background-color: $blue-hover;
    }
  }

  &__restart {
    background-color: $orange;
    color: #fff;
    background-color: $orange;
    border: 1px solid $orange;
    box-shadow: 0px 0px 2px 0px $orange;

    &:hover{
      background-color: $orange-hover;
    }
  }


}