
[v-cloak] { display: none; }

body {
    //background: linear-gradient(141deg, #0d96bf, #11bd72, #0d96bf);
    //background: linear-gradient(141deg, #2b7935, #11bd72, #055613);
    //background: linear-gradient(141deg, #1769bb, #0c1c25, #153040);;
    //background-size: 600% 600%;
    background-size: 5px;
    margin: 0;
    font-family: Arial;

    background-color: #2b7935;
    background-image: url(../img/cardboard-bg.png);
    background-repeat: repeat;


    //animation: BackgroundChanging 20s ease infinite;
}

@keyframes BackgroundChanging {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}


hr {
    border: 0;
    height: 1px;
    margin: 4px -4px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}

#app {
    display: flex;
    align-content: stretch;
    align-items: stretch;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}




/*--------------------Playing field------------------*/
.main-points-info{
    text-align: center;

    hr{
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

#playing-field {
    /*margin-left: 20px;*/
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    /*	position: relative;*/
    padding-bottom: 100px;
}

#playing-field-area {
    /*margin-left: 20px;*/
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    /*	position: relative;*/
}

#playing-field-start-panel {
    /*margin-left: 20px;*/
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    /*	position: relative;*/
    align-items: center;
    justify-content: center;

    .form-group {
        margin-bottom: 15px;
        text-align: center;

         input{
            width: 100%;
            max-width: 182px;
        }
        button {
            width: 100%;
            max-width: 200px;

        }
    }

    .control-panel {
        flex-direction: column;
    }

    @media screen and (max-width: $scree-small) {
        text-align: center;

        .logo-game img{
            max-width: 300px;
            width: 100%;
        }
    }

}

.player-area,
.dealer-area {
    /*background-color: #19AF24;*/
    //border: 2px solid rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    /*	overflow: hidden;*/
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;

    .buttons-container{
        width: 100%;
        text-align: center;
    }

}

.player-area.cards-list .cards{
    padding-top: 20px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.player-area.cards-list{
    flex-direction: column;
    align-items: flex-end;
    background-color: #00000026;
}

.control-panel {
    /*background-color: #19AF24;*/
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    /*min-height: 55px;*/
    justify-content: center;
}




#player-cards .playing-card .player-points{
    //display: none;
}
#player-cards{
    text-align: center;
}

#player-cards .playing-card:last-child .player-points{
    //display: block;
}

.player-points,
.dealer-points {
    min-width: 60px;
    min-height: 60px;
    padding: 8px;
    background: rgba(36, 218, 126, 0.7);
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 120;
    /*left: -30px;*/
    text-align: center;
    flex: 0 1 auto;
    /*align-self: flex-start;*/
}

/*.player-points {
	align-self: flex-start;
	top: 20px;
}

.dealer-points {
	align-self: flex-end;
	top: -20px;
}*/

.points {
    font-size: 3.2rem;
    color: #eee;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 1);
}

.player-cash {
    font-size: 2.4rem;
    color: #eee;
}

.control-panel .btn {
    margin: 15px;
}


.playing-field {
    margin-left: 0;
}

.checked-status{
    position: absolute;
    z-index: 11;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: -60px;
    right: calc(50% - 40px);
    width: 50px;

    height: 50px;
    border-color: white;
    border-style: solid;
    border-width: 4px;
}

.checked-status.checked-status-true{
    background-image: url("../img/success.svg");
}
.checked-status.checked-status-false{
    background-image: url("../img/fail.svg");
}