/*--------------------Modal------------------*/
#app > .v--modal-overlay {
  background: rgba(0, 0, 0, 0.55);

  .loading-modal{
    text-align: center;
    font-size: 16px;
    img{
      max-height: 50px;
    }
  }

}


.loading-modal{
  .message{
    font-size: 25px;
    margin-bottom: 40px;
  }
}

.vue-dialog-buttons>.vue-dialog-button:last-child{
  background-color: #f48a06;
  color: #fff;
  background-color: #f48a06;
  border: 1px solid #f48a06;
  box-shadow: 0px 0px 2px 0px #f48a06;

  &:hover{
    background-color: #f47d00;
  }
}