

/*--------------------Playing Card------------------*/

.player-area.cards-list .playing-card{
  transition-property: transform, box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.playing-card {
  /*display: inline-block;*/
  background-size: 505% auto;
  width: 200px;
  height: 278px;
  margin: 5px;
  border: 0px solid black;
  border-radius: 18px;
  box-shadow: 0px 6px 4px 3px rgba(0, 0, 0, 0.3);
  //transition-property: transform, box-shadow;
  //transition-duration: 0.3s;
  //transition-timing-function: ease-out;
  /*transform: translateY(130%);*/

  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.playing-card:hover{
  /*z-index: 100;*/
}