
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #187fe7;
$blue-hover: #1265e7;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e93732;
$red-hover: #e0110c;
$orange: #f48a06;
$orange-hover: #f48a06;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Screens
$scree-small: 768px;
