.btn {
  border-radius: 10px;
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.4);
  font-family: Arial;
  color: #eee;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  outline: none;
  min-width: 100px;
  min-height: 45px;
  cursor: pointer;
  background-color: #cccccc;
  color: #000;
}

.btn:hover {
  /*background: rgba(50,227,126,0.6);*/
  box-shadow: inset 0 0 8px #555;
}

.btn[disabled],
.btn[disabled]:hover {
  color: #ccc;
  background: rgba(70, 70, 70, 0.2);
  border: 2px solid rgba(70, 70, 70, 0.6);
  font-weight: bold;
}

.btn__start {
  background-color: #e93732;
  color: #fff;
  background-color: #e93732;
  border: 1px solid #e93732;
  box-shadow: 0px 0px 2px 0px #e93732;
}

.btn__start:hover {
  background-color: #e0110c;
}

.btn__higher,
.btn__lower {
  background-color: #187fe7;
  color: #fff;
  background-color: #187fe7;
  border: 1px solid #187fe7;
  box-shadow: 0px 0px 2px 0px #187fe7;
}

.btn__higher:hover,
.btn__lower:hover {
  background-color: #1265e7;
}

.btn__restart {
  background-color: #f48a06;
  color: #fff;
  background-color: #f48a06;
  border: 1px solid #f48a06;
  box-shadow: 0px 0px 2px 0px #f48a06;
}

.btn__restart:hover {
  background-color: #f48a06;
}

/*--------------- Animations ----------------*/

.card-appear-enter-active,
.card-appear-leave-active {
  transition: all 0.5s cubic-bezier(0.16, 0.11, 0.29, 0.96);
}

.card-appear-leave-to {
  -webkit-transform: translateY(-1000px);
          transform: translateY(-1000px);
}

.card-appear-enter {
  -webkit-transform: translateY(-500px) translateX(0px) rotate(200deg);
          transform: translateY(-500px) translateX(0px) rotate(200deg);
  /*transform: translateY(-1000px) rotate(200deg);*/
}

div.card-appear-enter:nth-child(1) {
  -webkit-transform: translateY(-500px) translateX(0px) rotate(200deg);
          transform: translateY(-500px) translateX(0px) rotate(200deg);
}

div.card-appear-enter:nth-child(2) {
  -webkit-transform: translateY(-500px) translateX(-100px) rotate(200deg);
          transform: translateY(-500px) translateX(-100px) rotate(200deg);
}

div.card-appear-enter:nth-child(3) {
  -webkit-transform: translateY(-500px) translateX(-200px) rotate(200deg);
          transform: translateY(-500px) translateX(-200px) rotate(200deg);
}

div.card-appear-enter:nth-child(4) {
  -webkit-transform: translateY(-500px) translateX(-300px) rotate(200deg);
          transform: translateY(-500px) translateX(-300px) rotate(200deg);
}

div.card-appear-enter:nth-child(5) {
  -webkit-transform: translateY(-500px) translateX(-400px) rotate(200deg);
          transform: translateY(-500px) translateX(-400px) rotate(200deg);
}

.card-appear-move {
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.4s;
}

.fade-enter,
.fade-leave,
.fade-leave-to {
  opacity: 0;
}

/*--------------------Playing Card------------------*/

.player-area.cards-list .playing-card {
  transition-property: box-shadow, -webkit-transform;
  transition-property: transform, box-shadow;
  transition-property: transform, box-shadow, -webkit-transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.playing-card {
  /*display: inline-block;*/
  background-size: 505% auto;
  width: 200px;
  height: 278px;
  margin: 5px;
  border: 0px solid black;
  border-radius: 18px;
  box-shadow: 0px 6px 4px 3px rgba(0, 0, 0, 0.3);
  /*transform: translateY(130%);*/
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.playing-card:hover {
  /*z-index: 100;*/
}

/*--------------------Modal------------------*/

#app > .v--modal-overlay {
  background: rgba(0, 0, 0, 0.55);
}

#app > .v--modal-overlay .loading-modal {
  text-align: center;
  font-size: 16px;
}

#app > .v--modal-overlay .loading-modal img {
  max-height: 50px;
}

.loading-modal .message {
  font-size: 25px;
  margin-bottom: 40px;
}

.vue-dialog-buttons > .vue-dialog-button:last-child {
  background-color: #f48a06;
  color: #fff;
  background-color: #f48a06;
  border: 1px solid #f48a06;
  box-shadow: 0px 0px 2px 0px #f48a06;
}

.vue-dialog-buttons > .vue-dialog-button:last-child:hover {
  background-color: #f47d00;
}

[v-cloak] {
  display: none;
}

body {
  background-size: 5px;
  margin: 0;
  font-family: Arial;
  background-color: #2b7935;
  background-image: url(/images/cardboard-bg.png?771cacfa2aa1687a915ab87d0ea51ad8);
  background-repeat: repeat;
}

@-webkit-keyframes BackgroundChanging {
  0% {
    background-position: 50% 0%;
  }

  50% {
    background-position: 50% 100%;
  }

  100% {
    background-position: 50% 0%;
  }
}

@keyframes BackgroundChanging {
  0% {
    background-position: 50% 0%;
  }

  50% {
    background-position: 50% 100%;
  }

  100% {
    background-position: 50% 0%;
  }
}

hr {
  border: 0;
  height: 1px;
  margin: 4px -4px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}

#app {
  display: flex;
  align-content: stretch;
  align-items: stretch;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

/*--------------------Playing field------------------*/

.main-points-info {
  text-align: center;
}

.main-points-info hr {
  margin-top: 50px;
  margin-bottom: 50px;
}

#playing-field {
  /*margin-left: 20px;*/
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  /*	position: relative;*/
  padding-bottom: 100px;
}

#playing-field-area {
  /*margin-left: 20px;*/
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  /*	position: relative;*/
}

#playing-field-start-panel {
  /*margin-left: 20px;*/
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  /*	position: relative;*/
  align-items: center;
  justify-content: center;
}

#playing-field-start-panel .form-group {
  margin-bottom: 15px;
  text-align: center;
}

#playing-field-start-panel .form-group input {
  width: 100%;
  max-width: 182px;
}

#playing-field-start-panel .form-group button {
  width: 100%;
  max-width: 200px;
}

#playing-field-start-panel .control-panel {
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  #playing-field-start-panel {
    text-align: center;
  }

  #playing-field-start-panel .logo-game img {
    max-width: 300px;
    width: 100%;
  }
}

.player-area,
.dealer-area {
  /*background-color: #19AF24;*/
  border-radius: 10px;
  /*	overflow: hidden;*/
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.player-area .buttons-container,
.dealer-area .buttons-container {
  width: 100%;
  text-align: center;
}

.player-area.cards-list .cards {
  padding-top: 20px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.player-area.cards-list {
  flex-direction: column;
  align-items: flex-end;
  background-color: #00000026;
}

.control-panel {
  /*background-color: #19AF24;*/
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  /*min-height: 55px;*/
  justify-content: center;
}

#player-cards {
  text-align: center;
}

.player-points,
.dealer-points {
  min-width: 60px;
  min-height: 60px;
  padding: 8px;
  background: rgba(36, 218, 126, 0.7);
  border-radius: 50%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: 120;
  /*left: -30px;*/
  text-align: center;
  flex: 0 1 auto;
  /*align-self: flex-start;*/
}

/*.player-points {
	align-self: flex-start;
	top: 20px;
}

.dealer-points {
	align-self: flex-end;
	top: -20px;
}*/

.points {
  font-size: 3.2rem;
  color: #eee;
  text-shadow: 1px 1px 8px black;
}

.player-cash {
  font-size: 2.4rem;
  color: #eee;
}

.control-panel .btn {
  margin: 15px;
}

.playing-field {
  margin-left: 0;
}

.checked-status {
  position: absolute;
  z-index: 11;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: -60px;
  right: calc(50% - 40px);
  width: 50px;
  height: 50px;
  border-color: white;
  border-style: solid;
  border-width: 4px;
}

.checked-status.checked-status-true {
  background-image: url(/images/success.svg?4190ac1189db82bcbe4eddaa6a7908d7);
}

.checked-status.checked-status-false {
  background-image: url(/images/fail.svg?4707e09c1ed3f8f2ffb0116554c91d3d);
}

