<template>
    <div>
        <!-- Begin page -->
        <div id="wrapper">
            <div class="content-page">
                <!-- Begin view -->
                <router-view> </router-view>
                <!-- END view -->
            </div>
        </div>
        <!-- END wrapper -->
    </div>
</template>

<script>
    export default {
        name:'App'
    }
</script>

