<template>
    <div id="app">
        <v-dialog name="dialog" adaptive="true" :clickToClose="clickToClose" draggable="true" />
        <notifications group="note-place" position="bottom center" classes="notes-style"/>
        <playing-field ></playing-field>

    </div>
</template>

<script>
    import playingField from './playingField.vue';


    export default {
        components: {
            'playing-field': playingField,
        },

        name: 'app',
        data () {
            return {
                clickToClose: false,
                loading: true,
                history: [],
            }
        }
    }
</script>