<template>
    <div id="playing-field-area">

        <div id="playing-field-start-panel" v-if="!gameStarted">
            <div class="control-panel">
                <div class="logo-game"><img src="/images/logo.png" alt="logo"></div>
                <div class="form-group">
                    <button v-on:click="giveOutCards()"
                            class="btn btn__start"
                            :disabled="player.bet < 1 || player.bet > player.cash"
                            key="startGame">{{ this.$t('button.start')}}
                    </button>
                </div>
            </div>
        </div>

        <div id="playing-field" v-if="gameStarted">
            <div class="dealer-area_">
                <div class="main-points-info">
                    <button v-on:click="restartUserGame()" class="btn" key="ShowAllPersonCards">{{ this.$t('button.restart')}}</button>
                    <hr/>
                </div>
            </div>

            <div class="dealer-area">
                <transition-group name="card-appear" tag="div" appear id="dealer-cards">
                    <div class="playing-card"
                         :class="[card.name, card.suit]"
                         v-for="(card, index) in dealer.hand"
                         :style="{ backgroundImage: 'url(' + card.image + ')' }"
                         key="index">
                    </div>
                </transition-group>
            </div>

            <div class="control-panel">
                <button v-on:click="takeCard(higher)" class="btn btn__higher" :disabled="cantTakeMore" key="Higher">
                    {{ this.$t('button.higher')}}
                </button>
                <button v-on:click="takeCard(lower)" class="btn btn__lower" :disabled="cantTakeMore" key="Lower">
                    {{ this.$t('button.lower')}}
                </button>
                <button v-on:click="takeCard(same)" class="btn btn__lower" :disabled="cantTakeMore" key="Same">
                    {{ this.$t('button.same')}}
                </button>
            </div>

            <div class="player-area cards-list">
                <div class="buttons-container">
                    <button v-on:click="showOrHideAllPersonCards" class="btn" key="ShowAllPersonCards">
                        {{ this.$t('button.showAllCards')}}
                    </button>
                </div>

                <div class="cards">
                    <transition-group name="card-appear" tag="div" appear id="player-cards">
                        <div
                                class="playing-card"
                                :class="[card.suit]"
                                :data-image="[card.image]"
                                v-for="(card, index) in player.hand"
                                :style="{margin: cardsMargin, backgroundImage: 'url(' + card.image + ')' }"
                                :key="'playingcard'+card.value+card.suit+card.lable"
                        >
                        </div>
                    </transition-group>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import api from '../api';
    import modals from '../game/modal.js';
    import game from '../game/methods.js';
    import gameConstants from '../game/const.js';

    export default {
        name: 'playingField',
        data() {
            return {
                higher: 0,
                lower: 0,
                same: 0,

                deckId: '',
                deck: [],
                dealer: {
                    hand: [],
                },
                player: {
                    hand: [],
                },

                cantTakeMore: false,
                gameStarted: false,
                gameClose: false,
                showAllCards: false,
                showStatusCheck: false,
                errors: []
            }
        },
        methods: {

            addCardTo: function (person) {
                var newObj = Object.assign({}, this.deck[0]);
                person.hand.push(newObj);
            },

            takeCard: function (position) {
                game.takeCard(this, position);
            },

            restartGame: function () {
                game.restartGame(this);
            },

            closeGame: function () {
                game.closeGame(this);
            },

            startNewHand: function () {
                // Reset all data
                game.startNewHand(this);
            },
            restartUserGame: function () {
                modals.restartUserGame(this);
            },


            /**
             * Get lists cards and show in view
             * preload all cards-images
             */
            giveOutCards: function () {
                game.getCardsNewGame(this);
            },
            showOrHideAllPersonCards: function () {
                this.showAllCards = !this.showAllCards;
            },
            userWinner: function () {
                game.userWinner(this);
                modals.userWinner(this);

            },
            userLosser: function () {
                game.userLosser(this);
                modals.userLosser(this);
            },
            serverError: function () {
                modals.serverError(this);
            }
        },

        computed: {
            cardsMargin: function () {
                if (!this.showAllCards) {
                    var fieldWidth = window.innerWidth;
                    var cards = this.player.hand.length < this.dealer.hand.length ? this.dealer.hand.length : this.player.hand.length;
                    var result = fieldWidth - (cards * 210 + 180);
                    if (result < 0) return '0 ' + (result / (cards * 2)) + 'px';
                }
            },
        },

        mounted: function () {
            this.$imagePreload(['/images/loading.gif']);
            this.higher = gameConstants.HIGHER;
            this.lower = gameConstants.LOWER;
            this.same = gameConstants.SAME;
        }

    }
</script>